*.d
*.o
*.zip
build/*.*
dist/*.*
dist/trowasoft/*
*.dll
.vs/*.*
*.opendb
*.ipch
*.vcv
CppProperties.json
settings.json
*.config
.vs/trowaSoft/v15/.suo
*.db
*.txt
trowaSoft.json
voltSeq_Maschine.pd
src/.DS_Store
.DS_Store
